<?xml version="1.0" encoding="UTF-8"?>
<votes>
  <%- votes.each do |vote| -%>
  <vote>
    <externalId><%= vote.external_id %></externalId>
    <externalIssueId><%= vote.external_issue_id %></externalIssueId>
    <counts>
      <for><%= vote.counts.for %></for>
      <against><%= vote.counts.against %></against>
      <absent><%= vote.counts.absent %></absent>
    </counts>
    <enacted><%= vote.enacted %></enacted>
    <subject><%= vote.subject %></subject>
    <method><%= vote.method %></method>
    <resultType><%= vote.result_type %></resultType>
    <time><%= vote.time %></time>
    <%- if vote.representatives -%>
    <representatives>
      <%- vote.representatives.each do |rep| -%>
      <representative>
        <externalId><%= rep.external_id %></externalId>
        <firstName><%= rep.first_name %></firstName>
        <lastName><%= rep.last_name %></lastName>
        <dateOfBirth><%= rep.date_of_birth %></dateOfBirth>
        <dateOfDeath><%= rep.date_of_death %></dateOfDeath>
        <district><%= rep.district %></district>
        <party><%= rep.party %></party>
        <committees>
          <%- rep.committees.each do |com| -%>
          <committee><%= com %></committee>
          <%- end -%>
        </committees>
        <period><%= rep.period %></period>
        <voteResult><%= rep.vote_result %></voteResult>
      </representative>
      <%- end -%>
    </representatives>
    <%- end -%>
    <propositions>
      <%- vote.propositions.each do |prop| -%>
      <proposition>
        <externalId><%= prop.external_id %></externalId>
        <description><%=h prop.description %></description>
        <onBehalfOf><%= prop.on_behalf_of %></onBehalfOf>
        <body><%=h prop.body %></body>
      </proposition>
      <%- end -%>
    </propositions>
  </vote>
  <%- end -%>
</votes>